<app-popup-alert type="error"></app-popup-alert>
<app-not-found [visible]="!cart || cart.items.length <= 0" notFoundmessage="Cart Page Is Empty!" resetLinkText="Go to Menu"></app-not-found>


<div *ngIf="cart && cart.items.length > 0" class="container">  
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
            </div>

            <div>
                <a routerLink="/food/{{cartItem.food.id}}">
                    {{cartItem.food.name}} 
                </a>
            </div>
    
            <div class="quantity-control">
                <button (click)="decrementQuantity(cartItem)">−</button>
                <span>{{ cartItem.quantity }}</span>
                <button (click)="incrementQuantity(cartItem)">+</button>                   
            </div>

            <div>
                {{cartItem.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout">
        <div>
            <div class="food-count"><strong>Total Items in Cart:</strong> {{ totalQuantity }}</div>
            <div class="total-price"><strong>Total Price:</strong> {{cart.totalPrice | currency}}</div>
        </div>

        <div>
            <button (click)="openCheckout()" class="checkout-btn">Checkout</button>

             <!-- Slide out checkout panel (desktop) -->
            <!-- Desktop only slide-out -->
            <!-- <div *ngIf="showCheckoutPanel && !isMobile">
                <app-checkout-page 
                    [cart]="cart" 
                    [visible]="showCheckoutPanel" 
                    (close)="closeCheckout()">
                </app-checkout-page>
            </div> -->
        </div>
    </div>
</div>